{% extends "base.html" %}

{% block title %}Page's name{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/styles/index.css">
{% endblock %}

{% block content %}

<main>
    <h1>Your page's content here</h1>
    <section>
        <h2>Bonjour, caba de peia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, ullam quasi magni earum aliquam velit aliquid provident quos nam, consequatur soluta. Consequuntur amet omnis optio ipsa, delectus rem quos sequi?</p>
    </section>
</main>

{% endblock %}